.firstview {
  background: url(img/firstview.jpg) no-repeat;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.firstview-catchcopy{
  font-size: 40px;
  font-weight: bold;
}

.about{
  margin-bottom: 70px;
}

.section-title{
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.about-description{
  text-align: center;
  line-height: 1.8;
}

.blog{
  max-width: 1000px;
  margin: 0 auto 70px;

}

.blog-parent{
  display: flex;
  justify-content: space-between;
}

.blog-child{
  width: 30%;
  margin-bottom: 40px;
}

.blog-child img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.form{
  width: 100%;
  margin: 20px auto;
}

.form-item {
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-item:nth-child(5) {
  border: 1px solid black;
}

.form-item-label {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.form-item-input {
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 40px;
  padding: 0 10px;
  height: 48px;
  width: 100%;
  font-size: 18px;
}

.form-1{
  margin-right: 340px;
  padding: 0 10px;
}

.form-item-textarea {
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 40px;
  padding: 0 10px;
  height: 200px;
  width: 100%;
  font-size: 18px;
}

.submit-d{
  display: flex;
  justify-content: center;
  
}

.form-dlt {
  margin: 32px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 380px;
  display: block;
  background: #d1d3d2;
  color:black;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.form-btn {
  margin: 32px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 380px;
  display: block;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
